h1 {
	color: red;
	text-align: center;
}
p{
	text-align: center;
}
h2 {
	color: blue;
	text-align: center;
	border: 1px solid red;
	background: white;
}
h3 {
	color: white;
	text-align: center;
html {
	background: url('https://thuthuatphanmem.vn/uploads/2018/06/18/hinh-nen-laptop-full-hd-tia-nang-trong-khu-rung-ram-dep_034810757.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}	
